extends layout

block content
  h1= title
  p Welcome to #{title}
  P Choose option
  a(class='button', href='./mainchain/explorer') BlockExplorer
  p
  a(class='button', href='./mainchain/mine') Mine Blocks 
  p
  a(class='button', href='./mainchain/wallet') Wallet
  p
  - var pClasses=['indevelopment', 'mb-3', 'text-muted','mt-5'];
  div(class=pClasses)
    p In development 
    a(class='button', href='./mainchain/deploy') Deploy Smart Contract
    p
    a(class='button', href='./mainchain/interact') Interact with Smart Contract