extends layout

block content
  h1= title
  p Welcome to #{title}
  P Choose option
  a(class='button', href='./mainchain/explorer') Block explorer
  p
  a(class='button', href='./mainchain/mine') Mine Blocks
  p
  a(class='button', href='./mainchain') Transact
  p
  a(class='button', href='./mainchain') GetBalance
  