extends layout

block content
  h1= title
  p Choose option :
  a(class='button', href='./sidechain/new') Create new side chain
  p
  a(class='button', href='./sidechain/join') Join new side chain
  p
  a(class='button', href='./sidechain/join') Joined Sidechain