extends layout

block content
  h1= title
  p Please enter.
    
    form(class="form-signin" method="POST" action="./sync")
            #error
                if error
                    p.text-danger Error!!!

            div.in
              input(type="text" name="rootnode_address" placeholder="Rootnode address" class="form-control" required autofocus)
              input(type="text" name="id" placeholder="ID of sidechain with respect to rootnode" class="form-control" required autofocus)
              - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block','buttonClass'];
              button(class=buttonClass type="submit") Proceed
  p
  - var pClasses=['mb-3', 'text-muted','mt-5'];
  div(class=pClasses)
    p Note :
    p Here we are asking for rootnode address, its address from which your machine will receive blocks and validate them.
    p When you create or join any sidechain, Its strored in your memory with id, local to your machine. 
    p Here in second field we are asking id of sidechain with respect to rootnode machine.
          
            
