extends layout

block content
  h1= title
  p  
  p Sidechain is created with id #{id} 
  p Account is created with
  p Public key : #{pubkey}
 
  p Click to join this side chain
          
            
