extends layout

block content
  h1= title
  p Step 2 : Store your pair of pubilc-private keys to safe location
  p Sidechain is created with id #{id} 
  p Account is created with
  p Public key : #{pubkey}
  p Private key :#{prikey}
  p Click to join this side chain
          
            
