body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 14px;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  color: #00b7ff;
}
.buttonClass {
  padding: 4px 7px;
  margin-top: 8px;
  width: 25%;
  font-size: 14px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  font-size: 14px;
}
.form-control {
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
  margin-top: 2px;
  font-size: 14px;
  font: inherit;
}
